<%= link_to "Update", homes_update_path %><br><br><br>

<% @items.each do |item| %>
	<div> You can produce <strong><%= item.MaxProduction %></strong> of <%= item.name %></div><br>
<%end%>	


<br><br><br>

<%= link_to "Today's Plan", homes_today_path %>

