<% @items.each do |item| %>
	<% max_production = -1  %>
	<% max_production_name = "a" %>
	<% @itemdetails.where(item_id: item.id).each do |itemdetail| %>
		<% quantity = @rawmaterials.find(itemdetail.rawMaterial_id).quantity %>
		<% if @rawmaterials.find(itemdetail.rawMaterial_id).weightin == "Kg" && itemdetail.weightin == 'g' %>
			<%quantity = quantity *1000%>
		<%end%>
		<% quantity_can_produce = quantity/itemdetail.minweight %>
		<% if max_production == -1 || max_production > quantity_can_produce %>
			<% max_production = quantity_can_produce %>			
		<%end%>
	<%end%>
	<div> You can produce <strong><%=max_production%></strong> of <%= item.name %></div><br>
<%end%>	


